.admin-body {
    overflow-y: hidden;
}

trix-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    margin: 0 10px;
}

.pages .pages-body .attachment figcaption {
    display: none;
}

.pages h1 {
    @apply text-2xl;
}

.pages .pages-body a {
    @apply text-blue-800;
}

.pages .pages-body a:hover {
    @apply text-blue-900;
    text-decoration: underline;
}

blockquote {
    display: block;
    @apply border-l-4;
    @apply border-gray-400;
    @apply px-3;
    font-size: 1.4rem;
}

.content-wrapper {
    height: calc(100vh - 72px);
}

.icon {
    font-size: 17px;
}

.active-link {
    @apply bg-blue-700;
    @apply text-white;
}

.is-active-metrika-link {
    @apply bg-green-700 !important;
    @apply text-white !important;
    @apply font-medium !important;
}

.period-metrika-link {
    border: 1px solid;
    @apply border-green-500;
}

.apexcharts-toolbar {
    display: none !important;
}

.apexcharts-title-text {
    font-weight: 600;
    font-size: 25px;
}

.dropdown {
    display: none;
}

.posts-grid .grid-item.is-active .dropdown {
    display: block;
}

.form__chk-label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
}

.form__chk-label::before,
.form__chk-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.form__chk {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.form__chk:checked + .form__chk-label::before {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #5264ae;
    background-color: #5264ae;
    z-index: 0;
}

.form__chk:checked + .form__chk-label::after {
    top: 2px;
    left: 1px;
    width: 6px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
}

.posts-grid .grid-item .attachment__caption {
    display: none;
}

.logo-drop-area {
    @apply text-gray-500;
}

.logo-drop-area.active {
    @apply ring;
    @apply ring-green-600;
    @apply text-green-600;
    @apply transition-colors;
}

.gallery-grid .grid-sizer,
.gallery-grid .gallery-item {
    width: 31%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.gallery-grid .gallery-item .models {
    @apply rounded-bl-md rounded-br-md;
}

.gallery-grid .gallery-item:nth-child(even) .brand {
    @apply border-r-2 border-gray-300;
}

.gallery-grid .gallery-item:nth-child(even),
.gallery-grid .gallery-item:nth-child(even) + .grid-sizer {
    width: 60%;
    flex-direction: row;
}

.gallery-grid .gallery-item .models a:hover .actions {
    max-height: 100%;
    margin-top: 0.5rem;
    transition: margin 200ms ease-in;
}

@media screen and (max-width: 1000px) {
    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item {
        width: 47%;
        flex-direction: column;
    }

    .gallery-grid .gallery-item:nth-child(even),
    .gallery-grid .gallery-item:nth-child(even) + .grid-sizer {
        width: 47%;
        flex-direction: column;
    }
}

@media screen and (max-width: 639px) {
    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item,
    .gallery-grid .gallery-item:nth-child(even) {
        width: 100%;
        flex-direction: row;
        margin-left: 0;
    }
}

@media screen and (max-width: 426px) {
    .content-wrapper {
        top: 128px !important;
    }

    .header .logotype {
        margin-bottom: 10px;
        width: 100%;
    }

    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item,
    .gallery-grid .gallery-item:nth-child(even) {
        flex-direction: column;
    }
}
