.content-wrapper {
    height: calc(100vh - 72px);
}

.icon {
    font-size: 17px;
}

.active-link {
    @apply bg-blue-700;
    @apply text-white;
}

.is-active-metrika-link {
    @apply bg-green-700 !important;
    @apply text-white !important;
    @apply font-medium !important;
}

.period-metrika-link {
    border: 1px solid;
    @apply border-green-500;
}

.apexcharts-toolbar {
    display: none !important;
}

.apexcharts-title-text {
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}

.dropdown {
    display: none;
}

.grid-item.is-active .dropdown {
    display: block;
}

@media screen and (max-width: 426px) {
    .content-wrapper {
        top: 128px !important;
    }

    .header .logotype {
        margin-bottom: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 639px) {

}
