.admin-body {
    overflow-y: hidden;
}

trix-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    margin: 0 10px;
}

.pages .pages-body .attachment figcaption {
    display: none;
}

.pages h1 {
    @apply text-2xl;
}

.pages .pages-body a {
    @apply text-blue-800;
}

.pages .pages-body a:hover {
    @apply text-blue-900;
    text-decoration: underline;
}

blockquote {
    display: block;
    @apply border-l-4;
    @apply border-gray-400;
    @apply px-3;
    font-size: 1.4rem;
}

.content-wrapper {
    height: calc(100vh - 72px);
}

.icon {
    font-size: 17px;
}

.active-link {
    @apply bg-blue-700;
    @apply text-white;
}

.is-active-metrika-link {
    @apply bg-green-700 !important;
    @apply text-white !important;
    @apply font-medium !important;
}

.period-metrika-link {
    border: 1px solid;
    @apply border-green-500;
}

.apexcharts-toolbar {
    display: none !important;
}

.apexcharts-title-text {
    font-weight: 600;
    font-size: 25px;
}

.dropdown {
    display: none;
}

.posts-grid .grid-item.is-active .dropdown,
.testimonials-grid .testimonial-item.is-active .dropdown {
    display: block;
}

.form__chk-label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
}

.form__chk-label::before,
.form__chk-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.form__chk {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.form__chk:checked + .form__chk-label::before {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #5264ae;
    background-color: #5264ae;
    z-index: 0;
}

.form__chk:checked + .form__chk-label::after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
}

.posts-grid .grid-item .attachment__caption {
    display: none;
}

.logo-drop-area {
    @apply text-gray-500;
}

.logo-drop-area.active {
    @apply ring;
    @apply ring-green-600;
    @apply text-green-600;
    @apply transition-colors;
}

.gallery-grid .grid-sizer,
.gallery-grid .gallery-item {
    width: 31%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

form .submit-btn:disabled,
form .submit-btn:disabled:hover {
    @apply bg-slate-600 text-white;
}

.gallery-grid .gallery-item .models {
    @apply rounded-bl-md rounded-br-md;
}

.gallery-grid .gallery-item:nth-child(even) .brand {
    @apply border-r-2 border-gray-300;
}

.gallery-grid .gallery-item:nth-child(even) .models {
    @apply rounded-tr-md rounded-br-md;
    margin-left: -5px;
}

.gallery-grid .gallery-item:nth-child(even),
.gallery-grid .gallery-item:nth-child(even) + .grid-sizer,
.gallery-grid .gallery-item:last-child {
    width: 60%;
    flex-direction: row;
}

.gallery-grid .gallery-item .models a:hover .actions {
    max-height: 100%;
    margin-top: 0.5rem;
    transition: margin 200ms ease-in;
}

.dropzone {
    @apply rounded-lg border-2 border-gray-200 !important;
}

.dropzone.dz-drag-hover {
    @apply ring-2 ring-green-600 shadow-md;
}

/* Custom select */
.select:focus {
    @apply ring-2 ring-green-600;
}

html body form div.select[data-multiple] div.header {
    display: none;
}

html body form div.select div.header {
    content: "▼";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    position: relative;
    width: 100%;
    height: 44px;
}

html body form div.select div.header::after {
    content: "▼";
    align-self: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 0.5em;
}

html body form div.select div.header:hover:after {
    cursor: pointer;
}

html body form div.select[data-open] div.header::after {
    content: "▲";
}

.select .header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}

.select .header select optgroup {
    display: none;
}

.select select div.option {
    display: none;
}

html body form div.select {
    user-select: none;
    box-sizing: border-box;
    position: relative;
    @apply rounded;
    width: auto;
    display: inline-block;
    width: 100%;
}

html body form div.select:hover {
    cursor: pointer;
}

html body form div.select[data-open] datalist {
    display: initial;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    @apply shadow-md;
}

html body form div.select datalist {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    @apply border border-gray-100 rounded-md;
    left: 0;
    top: 44px;
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

html body form div.select datalist div.option {
    background-color: white;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 0.5em;
    border-width: 0;
}

html body form div.select datalist div.option:first-child {
    @apply rounded-tl rounded-tr;
}

html body form div.select datalist div.option:last-child {
    @apply rounded-bl rounded-br;
}

html body form div.select datalist div.option:hover {
    @apply bg-green-500 transition-colors;
    color: white;
}

html body form div.select datalist div.option:focus {
    @apply bg-green-500 transition-colors;
    color: white;
}

html body form div.select datalist div.option:checked {
    @apply bg-green-500 transition-colors;
    color: white;
}

html body form div.select div.optgroup div.option[data-disabled] {
    color: gray;
}

html body form div.select div.optgroup div.option[data-checked] {
    @apply bg-green-500;
    color: white;
}

html body form div.select div.optgroup div.label {
    font-weight: bold;
}

html body form div.select div.optgroup div.option div.label {
    font-weight: normal;
    padding: 0.25em;
}

html body form div.select div.header {
    flex: 1;
    display: flex;
    width: auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
    border-radius: inherit;
}

html body form div.select div.header span {
    flex: 1;
    padding: 0.5em;
}
/* end custom select */

.dropzone .dz-preview .dz-image {
    height: auto;
}

#createModel .image-preview .delete-link {
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    @apply transition-opacity rounded-br rounded-bl;
}

#createModel .image-preview:hover .delete-link {
    opacity: 1;
    visibility: visible;
}

/* Custom confirmation window */
.confirm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.confirm.hide {
    animation: fadeOut;
    animation-duration: 400ms;
}

.confirm-window {
    position: absolute;
    width: 400px;
    max-width: 98%;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    letter-spacing: 0.03rem;
    box-shadow: 0 25px 50px 10px rgba(0, 0, 0, 0.25);
}

.confirm-window__title {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.confirm-window__text {
    flex: 1;
}

.confirm-window__close {
    font-size: 28px;
    transition: color 300ms ease-in-out;
}

.confirm-window__close:hover {
    color: rgb(205, 0, 0);
}

.confirm-window__body {
    padding: 20px 15px;
}

.confirm-window__footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.confirm-window__ok,
.confirm-window__cancel {
    padding: 0.25rem 1rem;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 300ms ease-in-out;
}

.confirm-window__ok {
    margin-right: 0.5rem;
    color: #fff;
    background-color: rgb(36, 187, 81);
}

.confirm-window__ok:hover {
    background-color: rgb(32, 160, 70);
}

.confirm-window__cancel {
    color: #fff;
    background-color: rgb(209, 37, 37);
}

.confirm-window__cancel:hover {
    background-color: rgb(162, 29, 29);
}

.pswp-gallery .grid-item:hover {
    @apply ring-4 rounded ring-green-600 transition-all;
}

.create-content .trix-button-group--file-tools,
.edit-content .trix-button-group--file-tools {
    display: none;
}

.tml-create-content #trix-toolbar-1 {
    display: none;
    visibility: hidden;
}

.tsml-rate {
    cursor: pointer;
    
}

@media screen and (max-width: 1000px) {
    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item {
        width: 47%;
        flex-direction: column;
    }

    .gallery-grid .gallery-item:nth-child(even),
    .gallery-grid .gallery-item:nth-child(even) + .grid-sizer {
        width: 47%;
        flex-direction: column;
    }

    .gallery-grid .gallery-item:nth-child(even) .models {
        margin-left: 0;
        margin-top: 0;
        @apply rounded-t-none;
    }

    .gallery-grid .gallery-item .models {
        margin-top: -2px;
    }
}

@media screen and (max-width: 639px) {
    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item,
    .gallery-grid .gallery-item:nth-child(even) {
        width: 100%;
        flex-direction: row;
        margin-left: 0;
    }
}

@media screen and (max-width: 426px) {
    .header .logotype {
        margin-bottom: 10px;
        width: 100%;
    }

    .gallery-grid .grid-sizer,
    .gallery-grid .gallery-item,
    .gallery-grid .gallery-item:nth-child(even) {
        flex-direction: column;
    }

    .testimonials-grid .testimonial-item .testimonial-item__header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .testimonials-grid .testimonial-item .testimonial-item__information {
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
}
